.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ResultAndCartDiv {
  display: -webkit-flex; /* Safari */
  display: flex;
}

.MedicinesCollection {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  -webkit-justify-content: space-around; /* Safari */
  justify-content:         space-around;
}

hr.vertical {
    height: 100%;
    width: 0;
    border: 1px solid black;
}

.Card {
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  width: 300px;
  padding-bottom: 10px;
}

.ItemList {
  width: 70%;
}

.CartList {
  width: 30%;
}

#itemListHeading {
  width: 70%;
  display: inline-block;
}

#cartListHeading {
  width: 30%;
  display: inline-block;
}